<app-toolbar
[unReadCounter] = "unReadCounter.bind(this)"
[toggleSelectButton]="toggleSelectButton.bind(this)"
[removeLabel]="removeLabel.bind(this)"
[addLabel]="addLabel.bind(this)"
[selectall]="select.bind(this)"
[displayRead]="displayRead.bind(this)"
[displayUnread]="displayUnread.bind(this)"
[deleteMessage]="deleteMessage.bind(this)"
[displayForm]="displayForm.bind(this)">
</app-toolbar>
<app-compose
[onSubmit]="onSubmit.bind(this)"
[displayForm]="displayForm.bind(this)">
</app-compose>
<app-messages
[messages]="messages"
[togglestar]="togglestar.bind(this)"
[togglecheckbox]="togglecheckbox.bind(this)">
</app-messages>
