<div class="row message" *ngFor = 'let message of messages'
[ngClass] = "{read: message.read === true, unread: message.read === false, selected: message.selected === true}">
  <div class="col-xs-1">
    <div class="row">
      <div class="col-xs-2">
        <input type="checkbox" [checked]='message.selected'/>
      </div>
      <div class="col-xs-2">
        <i (click)=toggleStar() *ngIf = 'message.starred === false else starred'class="star fa fa-star-o"></i>
        <ng-template #starred>
          <i class="star fa fa-star"></i>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-xs-11">
    <span *ngFor = 'let label of message.labels' class="label label-warning"> {{ label }} </span>
    <a href="#">
      {{ message.subject }}
    </a>
  </div>
</div>
