<form [ngClass]="{hidden: displayForm()}" id="newEmail" (ngSubmit)="onSubmit(f)" #f="ngForm" class="form form-horizontal well" >
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <h4>Compose Message</h4>
    </div>
  </div>
  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-8">
      <input
      type="text"
      class="form-control"
      id="subject"
      placeholder="Enter a subject"
      ngModel
      name="subject">
    </div>
  </div>
  <div class="form-group">
    <label for="body" class="col-sm-2 control-label">Body</label>
    <div class="col-sm-8">
      <textarea
      id="body"
      class="form-control"
      ngModel
      name="body">
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <input type="submit" value="Send" class="btn btn-primary">
    </div>
  </div>
</form>
